:root{
  --primary: #e1e1e3;
  --bright: #81D2C7;
  --light: #B5BAD0;
  --meduim: #7389AE;
  --dark: #416788;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}


header {
  padding: 20px;
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--light);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


header h1 a {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--dark);
  text-decoration: none;
}

nav {
  margin: 10px 0 7px 0;
}

.aboutme h1 {
  width: 100%;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  color: var(--dark);

} 

.aboutme p {
  width: 100%;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  color: var(--dark);
}
.avatar {
    border-radius: 15px;
    width: 200px;
    height: 207px;
    /* align-content: center; */
}

body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background: var(--primary);
  font-family: 'Noto Sans', sans-serif;
    color: var(--dark);
    text-decoration: none;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
    
}


form {
  width: 40%;

}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}


button {
	background: var(--meduim);
	border: 0;
	border-radius: 15px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}


.contact-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


footer {
  text-align: center;
  padding: 20px;

   bottom:0;
   width:100%;
   background-color: var(--light);
   bottom: 0px;
   width: 100%;
   height: 100px;
}

.port-cards {
  width: 400px;
  padding: 0;
  justify-content: center;
}

.port-img {
  margin: 0;
  width: 398px;
  
}

.resume {
  text-align: center;
 
  text-decoration: none;
}

.resume a {
  margin: 20px;
}

.resume a:hover {
  background-color: var(--light);
}


.resume ul {
  list-style-type: none;
}


footer img {
  width: 50px;
  height: 50px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {
  header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
  }
  header h1 {
      width: 100%;
      display: flex;
      margin: 0 160px;
      padding-bottom: 14px;
      justify-content: center;
      text-align: center;
      border-bottom: 3px solid var(--primary-color);
  }

 
  header nav ul {
      
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      width: 100%;
      align-items: space-around;
    }
  
    header nav ul li {
        padding: 5px;
    }
    header nav ul li a {
      font-size: 20px;
    }
  }

